@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fonts */
:root {
  --nav-font: arial;
  --p-font: arial;
  --head-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

} 


/* Global Colors*/ 
:root { 
  --background-color: #ffffff; /* Background color */
  --default-color: #3C3D37; /* text color */
  --heading-color: #0c268e; /* headings Color*/
  --accent-color: #D82148; /* Accent color*/
  --surface-color: #ffffff; /*surface color */
  --contrast-color: #ffffff; /* Contrast color for text*/
}

.row {
  justify-content: center !important;
  /*align-items: center !important;*/
}

/* Color Presets */
.light-background {
  --background-color: #f9f9f9;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #091e5b;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #0c268e;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: #fff;
}

a {
  text-decoration: none;
  transition: 0.1s;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--head-font);
}

p{
  font-family: var(--p-font);
}



/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.headers {
  color: var(--default-color);
  transition: all 0.5s;
  z-index: 997;
  background-color: #FBFBFB;
}

.headers .branding {
  min-height: 60px;
  padding: 10px 0;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* nav-bar - Desktop */
@media (min-width: 1200px) {
  .nav-bar {
    padding: 0;
  }

  .nav-bar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .nav-bar li {
    position: relative;
  }

  .nav-bar a,
  .nav-bar a:focus {
    color: #0a2540;
    padding: 10px;
    font-size: 20px;
    font-family: var(--head-font);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .nav-bar li:last-child a {
    padding-right: 0;
  }

  .nav-bar li:hover>a,
  .nav-bar .active,
  .nav-bar .active:focus {
    color: #0c268e;
    text-decoration: underline #D82148;
    text-underline-offset: 10px;  
}
.nav-bar i{
  display: none;
}
} 

/* nav-bar - Mobile changes are remaining*/
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: #ffffff;
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .nav-bar {
    padding: 0;
    z-index: 9997;
  }
.nav-bar li i{
padding: 10px;  
color: #fbfbfb;
}

 /* By default, the nav-bar is hidden on smaller screens */
.nav-bar ul {
   /* Hidden by default */
  list-style: none;
  display: none;
  position: absolute;
  inset: 60px 20px 20px 20px;
  padding: 20px;
  margin: 0;
  border-radius: 6px;
  background-color:  #0a2540;
  overflow-y: auto;
  transition: 0.3s;
  z-index: 9998;
  height: 45vh;
  margin: 10px;
  line-height: 50px;
}
.nav-bar ul a{
  color: #fbfbfb;
  font-family: var(--head-font);
  font-size: 20px;
  font-weight: 500;
}

/* When mobile-nav-active is added, make the nav visible */
.mobile-nav-active .nav-bar ul {
  display: block; /* Show menu when active */
}

/* Ensure smooth transition for the nav-bar */
.mobile-nav-active .nav-bar {
  position: fixed;
  overflow: hidden;
  inset: 0;
  background: rgba(33, 37, 41, 0.8);
  transition: 0.3s;
}

.mobile-nav-toggle {
  color: #D82148;
  font-size: 30px;
  line-height: 0;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  position: absolute;
  font-size: 32px;
  top: 15px;
  right: 15px;
  margin-right: 0;
  z-index: 9999;
}


  .mobile-nav-active .nav-bar {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
  color: var(--default-color);
  background: url("/assets/img/footerimg.png") top center no-repeat;
  background-size: cover;
  font-size: 14px;
  position: relative;
}

.footer .container {
  position: relative;
}

.footer:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 40%);
  position: absolute;
  inset: 0;
}

.footer .footer-top {
  padding-top: 50px;
}


.footer .footer-about .logo span {
  color: var(--heading-color);
   font-family: var(--head-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}
.footer .footer-about{
  margin-right: 60px;
}

.footer .footer-about p {
  font-size: 16px;
  font-family: var(--p-font);
  color: #fff;
  
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 16px;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color:#fff;
  border-color: #fff;
}

.footer h4 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-links .company {
  padding-bottom: 12px;
}
.footer .footer-links .serv {
  padding-bottom: 50px;
}
.footer .footer-links .legal {
  padding-bottom: 90px;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 18px; 
  font-family: var(--p-font);
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  font-size: 18px; 
  font-family: var(--p-font);
  align-items: center;
  letter-spacing: 1px;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-contact p {
  margin-bottom: 5px;
  font-family: var(--p-font);
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .copyright p {
  margin-bottom: 0;
  font-family: var(--p-font);
}

.footer .credits {
  margin-top: 8px;
  font-size: 13px;
}


/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 45px;
  bottom: 15px;
  z-index: 99999;
  background-color: #4379F2;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}


.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 750px) {
  .footer .container {
    padding: 20px; 
  }

  .footer .footer-top {
    padding-top: 40px; 
  }

  .footer .footer-about {
    margin-right: 0;
    text-align: center; 
  }

  .footer .footer-about p {
    font-size: 14px; 
    padding-right: 15px; 
  }

  .footer .social-links {
    justify-content: center; 
    margin-top: 20px;
  }

  .footer .footer-links {
    margin-top: 30px; 
  }

  .footer .footer-links ul {
    padding-left: 0;
  }

  .footer .footer-links ul li {
    font-size: 16px; 
  }

  .footer .footer-links ul a {
    font-size: 16px; 
  }

  .footer .footer-links .company,
  .footer .footer-links .serv,
  .footer .footer-links .legal {
    padding-bottom: 20px; 
  }

  .footer .copyright {
    padding-top: 20px; 
    padding-bottom: 20px;
  }

  .scroll-top {
    right: 20px; 
    bottom: 20px;
    width: 35px;
    height: 35px;
  }

  .scroll-top i {
    font-size: 20px; 
  }
}
@media (min-width: 750px) and (max-width: 1000px) {
  /* Footer: Scale down font sizes, padding, etc. */
  .footer {
    font-size: 13px;  /* Reduce font size */
  }

  .footer .footer-top {
    padding-top: 30px;  /* Reduce padding */
  }

.footer .col-1{
margin-right: 70px;
}

  .footer .footer-links .company{
    padding-bottom: 20px; 
  }
.footer .footer-links .serv{
  padding-bottom: 50px; 
}
.footer .footer-links .legal{
  padding-bottom: 70px; 
}
  .scroll-top {
    width: 35px;  /* Reduce width */
    height: 35px;  /* Reduce height */
    right: 40px;  /* Adjust position */
    bottom: 10px;  /* Adjust position */
  }

  .scroll-top i {
    font-size: 20px;  /* Reduce icon size */
  }
}
@media (min-width: 1000px) and (max-width: 1399px) {
  /* Footer: Scale down font sizes, padding, etc. */
  .footer {
    font-size: 13px;  /* Reduce font size */
  }

  .footer .footer-top {
    padding-top: 30px;  /* Reduce padding */
  }

.footer .col-1{
margin-right: 10px;
}

.footer .footer-links .company{
    padding-bottom: 20px; 
  }
.footer .footer-links .serv{
  padding-bottom: 55px; 
}
.footer .footer-links .legal{
  padding-bottom: 75px; 
}
  .scroll-top {
    width: 35px;  /* Reduce width */
    height: 35px;  /* Reduce height */
    right: 40px;  /* Adjust position */
    bottom: 10px;  /* Adjust position */
  }

  .scroll-top i {
    font-size: 15px;  /* Reduce icon size */
  }
}








/* 
/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.sec{
  color: var(--default-color) !important;
  background-color: var(--background-color) !important;
  padding: 50px 0 !important;
  scroll-margin-top: 118px !important;
  overflow: clip !important;
}

@media (max-width: 1199px) {

  section,
  .sec {
    scroll-margin-top: 100px;
  }
} 

.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: var(--head-font);
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  right: 0;
  bottom: 0;
}

.section-title p {
  margin-bottom: 0;
  font-family:  var(--p-font);
} 
  

/*--------------------------------------------------------------
# Service page
--------------------------------------------------------------*/

.wraped{
  margin-top: 50px;
  text-align: center;
}

.wraped h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
  font-size: 48px;
  font-weight: 600;
  color: #0a2540 ;
  margin-bottom: 30px;
}


.alt-services .features-image {
  position: relative;
  margin: 0;
  min-height: 150px;
}


.alt-services nav {
    background-color: color-mix(in srgb, var(--default-color), transparent 95%);
    padding: 5px 0;
}

.alt-services nav ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.alt-services nav ol li+li {
  padding-left: 10px;
}
.alt-services nav ol li a{
 color: #0a2540;
 font-family:var(--head-font);
 font-size: 25px;
 font-weight: 600;
 
}
.alt-services nav ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: #0a2540;
}

 .features-image img {
  padding: 10px;
  display: block;
  width: 100%;
 
  object-fit: contain;
}
 
.alt-services h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #0a2540;
  font-family: var(--head-font);
  margin-bottom: 10px;
  position: relative;
}

.alt-services  p{
  color: #425466;
  font-family:  var(--p-font);
   font-size: 18px;
  text-align: justify;
  word-spacing: 0px;
}


.alt-services .icon-box {
  margin-top: 10px;
}

.alt-services .icon-box i {
  color: #4379F2;
  display: flex;
  margin-right: 15px;
  font-size: 25px;
 
}

.alt-services .icon-box h4 {
  font-weight: 600;
  font-size: 20px;
  color: #0a2540;
  font-family: var(--head-font);
}
.alt-services .icon-box h4 a {
  color: #0a2540;
  font-family: var(--head-font);

}


.alt-services .icon-box p {
  color: #425466;
  font-family:  var(--p-font);
  font-size: 18px;
  
}


.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  color: var(--heading-color);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 0;
  border-bottom: 4px solid color-mix(in srgb, var(--default-color), transparent 90%);
}
.features .nav-link h4 {
  font-size: 20px;
  font-weight: 600;
  color: #0a2540;
  font-family: var(--head-font);
  margin: 0;
}
@media (max-width: 575px) {
  .features .nav-link h4 {
    font-size: 16px;
  }
}
.features .nav-link:hover {
  color:#0c268e;
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}
.features .nav-link.active {
  background-color: var(--background-color);
  color:#0c268e;
  border-color:#0c268e;
}



.service .service-item {
  background: var(--bs-light);
  border-radius: 10px;
}

.service .service-item:hover {
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.service .service-item .service-img {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.5s;
}


.service .service-item:hover .service-img img {
  transform: scale(1.2);
}
.service-item .service_btn{
  background-color: #091e5b;
  color: #fff;
  padding: 10px;
  font-weight: 400;
  border-radius: 5px;
  border: #091e5b;

}
.service-item .text-service{
  color: #0a2540;
  padding: 5px;
  font-family: var(--p-font);
  font-size: 18px;
}
.service-item .head-service{
  font-weight: 600;
  font-size: 22px;
  color: #0a2540;
  padding: 5px;
  font-family: var(--head-font);
  
}
.other-text P{
  color: #425466;
  font-family:  var(--p-font);
   font-size: 18px;
   text-align: justify;
   word-spacing: 0px;
}
 .other-text  li {
  color: #425466;
  font-family:  var(--p-font);
   font-size: 18px;
   text-align: justify;
   word-spacing: 0px;
}
 .other-text  i{
  color: #4379F2;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .alt-services nav ol {
    font-size: 14px; 
  }

  .alt-services nav ol li a {
    font-size: 18px; 
  }

 
  .alt-services .features-image {
    min-height: 250px; 
  }

  .features-image img {
   
    width: 100%; 
  }

  
  .alt-services h3 {
    font-size: 1.5rem; 
    margin-bottom: 15px;
  }

  .alt-services p {
    font-size: 16px; 
  }

  .alt-services .icon-box {
    margin-top: 15px;
  }

  .alt-services .icon-box h4 {
    font-size: 18px; 
  }

  .alt-services .icon-box p {
    font-size: 16px; 
  }

 
  .alt-services .features-image, 
  .alt-services .col-lg-5 {
    flex: 1 1 100%; 
    max-width: 100%;
  }

  .alt-services .row.justify-content-around {
    flex-wrap: wrap;
    gap: 20px;
  }


  .alt-services .container {
    padding: 15px; 
  }

  
  .alt-services nav ol li+li::before {
    padding-right: 5px; 
  }
}

@media (max-width: 1100px) {
  .service .service-item {
    margin-bottom: 20px;
  }
  
  .service .service-item .service-img img {
    width: 100%;
    height: auto;
  }

  .service .service-item .service_btn {
    font-size: 14px;
    padding: 8px;
  }

  .service-item .text-service {
    font-size: 16px;
    padding: 5px;
  }

  .service-item .head-service {
    font-size: 20px;
    padding: 5px;
  }

 
}


@media (min-width: 1100px) and (max-width: 1400px) {
  .service .service-item {
    margin-bottom: 20px;
  }
  
  .service .service-item .service-img img {
    width: 100%;
    height: auto;
  }

  .service .service-item .service_btn {
    font-size: 14px;
    padding: 8px;
  }

  .service-item .text-service {
    font-size: 16px;
    padding: 5px;
  }

  .service-item .head-service {
    font-size: 20px;
    padding: 5px;
  }
}




/*
---------------------------------------------
contact
--------------------------------------------- 
*/

/*-----Heading----*/

.service-title {
    text-align: center;
    padding: 50px;
    position: relative;
}

    .service-title h2 {
        font-size: 48px;
        font-weight: 600;
        position: relative;
        color: #0a2540;
        font-family: var(--head-font);
    }

#contact-us {
    padding: 120px 0px;
    background-image: url("/assets/img/dotted-map-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.contact-form input,
.contact-form textarea {
    color: #0a2540;
    font-size: 16px;
    border: 2px solid #0a2540;
    background-color: #fff;
    width: 100%;
    height: 46px;
    outline: none;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
}

.contact-form textarea {
    height: 150px;
    resize: none;
    padding: 20px;
}

.contact-form ::-webkit-input-placeholder { /* Edge */
    color: #0a2540;
}

.contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #0a2540;
}

.contact-form ::placeholder {
    color: #0a2540;
    font-weight: 500;
    font-size: 16px;
}

#contact-us .info-item {
    margin-bottom: 40px;
}

#contact-us .contact_btn {
    background-color: #091e5b;
    color: #fff;
    padding: 10px;
    font-weight: 400;
    border-radius: 5px;
    border: #091e5b;
}

#contact-us .info-item i {
    font-size: 20px;
    color: #D82148;
    background: color-mix(in srgb,#D82148, transparent 92%);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 15px;
}

#contact-us .info-item h3 {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #0a2540;
    font-family: var(--head-font);
}

#contact-us .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: #425466;
    font-family: var(--p-font);
}

@media (max-width: 1199px) {
    #contact-us {
        padding: 80px 20px;
    }

    .service-title h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .info-item h3 {
        font-size: 18px;
    }

    .info-item p {
        font-size: 14px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
        padding: 10px 15px;
    }

    .contact-form textarea {
        height: 120px;
    }

    .contact_btn {
        font-size: 14px;
        padding: 8px 15px;
    }

    iframe {
        height: 300px;
    }
}


iframe {
    margin-top: 20px;
    height: 400px;
    width: 100%;
}

#abouthero {
    width: 100%;
    height: 60vh;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

    #abouthero .carousel,
    #abouthero .carousel-inner,
    #abouthero .carousel-item,
    #abouthero .carousel-item::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    #abouthero .carousel-item {
        background-size: cover;
        background-image: url(/assets/img/blue.png);
        padding-bottom: 10px;
    }

        #abouthero .carousel-item::before {
            content: "";
            background-color: rgba(30, 35, 40, 0.6);
        }

    #abouthero .carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        top: 70px;
        left: 50px;
        right: 50px;
    }

    #abouthero .container {
        text-align: left;
    }

    #abouthero h2 {
        color: #FBFBFB;
        margin-bottom: 20px;
        font-size: 45px;
        font-weight: 600;
        font-family: var(--head-font);
    }

    #abouthero p {
        animation-delay: 0.3s;
        margin: 0 auto 30px auto;
        color: #FBFBFB;
        font-size: 20px;
        font-family: var(--p-font);
    }

    #abouthero .carousel-inner .carousel-item {
        transition-property: opacity;
        background-position: center top;
    }


/* For screens between 992px and 1199px (max-width: 1199px) */
@media (max-width: 1199px) {
    #abouthero {
        height: 80vh; /* Adjust height for medium to large screens */
    }

        #abouthero .carousel-container {
            top: 50px; /* Adjust vertical positioning */
            left: 40px;
            right: 40px;
        }

        #abouthero h2 {
            font-size: 40px; /* Adjust heading font size */
        }

        #abouthero p {
            font-size: 18px; /* Adjust paragraph font size */
        }
}




/*-----Teams and condition----*/

#terms{
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  background-repeat:no-repeat;
}
.wraped{
  margin-top: 10px;
  text-align: center;
}

.wraped h2{
font-family: var(--head-font);  
font-size: 40px;
  font-weight: 600;
  color: #0a2540 ;
  margin-bottom: 30px;
}
.terms p{
  color: #425466;
  font-family: var(--p-font);
  font-size: 15px;
  text-align: justify;
  word-spacing: 0px;
}

.terms p i {
  color: #4379F2;
  margin-right: 10px;
  font-size: 25px;

}
@media (min-width: 768px) and (max-width: 1024px) {
  #terms {
      background-size: contain; 
  }

  .wraped h2 {
      font-size: 36px; 
      margin-bottom: 20px;
  }

  .terms p {
      font-size: 16px; 
      line-height: 1.6;
      padding: 0 20px; 
  }

  .terms p i {
      font-size: 20px; 
      margin-right: 8px;
  }

  .container {
      padding: 0 20px; 
    
}

@media (max-width: 1199px) {
  #terms {
      background-size: cover; 
  }

  .wraped h2 {
      font-size: 32px; 
      margin-bottom: 20px;
  }

  .terms p {
      font-size: 14px; 
      line-height: 1.5;
      padding: 0 15px; 
  }

  .terms p i {
      font-size: 18px; 
      margin-right: 8px;
  }

  .container {
      padding: 0 20px;
  }
}


@media (min-width: 1200px) {
  #terms {
      background-size: cover; 
  }

  .wraped h2 {
      font-size: 48px;
      margin-bottom: 40px;
  }

  .terms p {
      font-size: 18px; 
      line-height: 1.7;
      padding: 0 30px; 
  }

  .terms p i {
      font-size: 25px; 
      margin-right: 10px;
  }

  .container {
      padding: 0 40px; 
  }
}

/*-----Privacy Policy----*/
.wraped{
  margin-top: 10px;
  text-align: center;
}

.wraped h2{
font-family: var(--head-font);  
 font-size: 40px;
  font-weight: 600;
  color: #0a2540 ;
  margin-bottom: 30px;
}
.privacy .container h4{
  font-weight: 600;
  font-size: 25px;
  color: #133E87;
  font-family: var(--head-font);
}
.privacy .container p{
  color: #425466;
  font-family: var(--p-font);
  font-size: 18px;
  text-align: justify;
  word-spacing: 0px;
}

.privacy .container h4 i {
  color: #4379F2;
  margin-right: 10px;
  font-size: 22px;
}

#privacy{
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  }

  /* Media Queries */


@media (max-width: 1024px) and (min-width: 768px) {
  .wraped h1 {
    font-size: 36px; 
  }

  .privacy h4 {
    font-size: 18px; 
  }

  .privacy p {
    font-size: 16px;
    padding: 0 15px; 
  }

  .privacy h4 i {
    font-size: 22px; 
  }

  .container {
    padding: 0 20px; 
  }
}


@media (min-width: 1200px) {
  .wraped h1 {
    font-size: 48px; 
  }

  .privacy h4 {
    font-size: 20px; 
  }

  .privacy p {
    font-size: 18px; 
    padding: 0 40px; 
  }

  .privacy h4 i {
    font-size: 25px; 
  }

  .container {
    padding: 0 60px; 
  }
}

  

